<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mps_application/css/general.css' %}">
    </head>
    <body>
        <header>
            <h1>Mobility Parking Scheme (MPS)</h1>
            <nav>
                <div>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'condition' %}">Conditions</a>
                    {% if user.is_staff %}
                        <a href="{% url 'applications' %}">Applications</a>
                    {% endif %}
                    {% if request.user.is_authenticated and not request.user.is_staff %}
                        <a href="{% url 'sectionOne' %}">Apply Permit</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        &nbsp;<a href="{% url 'profile' %}">My Account</a>
                        &nbsp;<a href="{% url 'logout_confirmation' %}">Logout</a>
                    {% else %}
                        &nbsp;<a href="{% url 'login' %}">Login</a>
                        &nbsp;<a href="{% url 'register' %}">Signup</a>
                    {% endif %}
                </div>  
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <p>Mobility Parking Scheme (MPS)</p>
        </footer>
    </body>
</html>